:root {
  --purple-100: #CFC2F2;
  --purple-200: #AD92F5;
  --purple-300: #8A66ED;
  --purple-400: #6C3CEC;
  --purple-500: #5523DE;
  --purple-600: #4013BF;
  --purple-700: #2F0D8D;
  --purple-800: #22076A;
  --purple-900: #110436;

  --black-500: #2B2D2D;
  --grey-500: #D9D9D9;
}

header {
  padding-top: 100px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

#cart-products-container {
  min-height: 100vh;
  margin: 1rem 150px;
  padding: 1rem;
}

@media (max-width:768px) {
  #cart-products-container {
    margin: 1rem;
  }
}