#show-off {
  padding: 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#show-off img {
  border-radius: 1rem;
}
#order-now-btn{
  margin-top: 1rem;
}
@media (max-width:768px) {
  #show-off {
    margin: 1rem;
    padding: 0;
    display: block;
    flex-wrap: wrap-reverse;
  }

  #show-off .space-50 {
    width: 100%;
  }
  #show-off img {
    width: 90%;
    display: blocks;
    margin: 0 auto;
  }
}