:root {
  --purple-100: #CFC2F2;
  --purple-200: #AD92F5;
  --purple-300: #8A66ED;
  --purple-400: #6C3CEC;
  --purple-500: #5523DE;
  --purple-600: #4013BF;
  --purple-700: #2F0D8D;
  --purple-800: #22076A;
  --purple-900: #110436;

  --black-500: #2B2D2D;
  --grey-500: #D9D9D9;
}

#contact {
  text-align: center;
  background: url("../assets/img/mesh_gradient_bg.jpeg") no-repeat fixed;
  height: 100vh;
  /* padding-top: 64px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  margin-top: 64px;
  text-transform: uppercase;
  color: var(--purple-500);
}

#social-link-container {
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

#social-link-container .social-link {
  border-radius: 100%;
  background-color: var(--purple-100);
  width: 48px;
  height: 48px;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-800);
}

#social-link-container a {
  background-color: none;
  padding: 0;
}

.social-link i {
  color: var(--purple-100);
}

#newsletter {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 24px;

}

#newsletter input[type=text] {
  width: 100%;
  border: 2px solid var(--grey-500);
  border-right: none;
  padding: 0.5rem;
  border-radius: 1.5rem 0 0 1.5rem;
  font-size: 1rem;
}

#newsletter button {
  border-radius: 0 1.5rem 1.5rem 0;
  font-size: 1rem;
}

@media (max-width:768px) {
  #contact {
    justify-content: center;
    height: 60vh;
    padding: 1rem;
  }
}