:root {
  --purple-100: #CFC2F2;
  --purple-200: #AD92F5;
  --purple-300: #8A66ED;
  --purple-400: #6C3CEC;
  --purple-500: #5523DE;
  --purple-600: #4013BF;
  --purple-700: #2F0D8D;
  --purple-800: #22076A;
  --purple-900: #110436;

  --black-500: #2B2D2D;
  --grey-500: #D9D9D9;
}

#deals {
  background-color: var(--grey-500);
  padding: 10%;

}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: scroll;

  padding: 16px;
  gap: 16px;
}

.card {
  position: relative;
}

.card .disc-tag {
  position: absolute;
  top: 14px;
  left: -14px;
  background: var(--purple-700);

  padding: 4px;
  border-radius: 4px;
  color: #fff;
}

.card .left {
  height: 100%;
  border: 2px solid var(--grey-500);
  border-radius: 8px;

  transition: border 0.2s;
}

.card .left:hover {
  border: 2px solid var(--purple-100);
}

.left .img-container {
  padding: 8px 16px;
}

.left .img-container img {
  object-fit: contain;
  aspect-ratio: 1/1;
  max-height: 180px;
}

.left .txt-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 8px 16px;
  line-height: 16px;
}

.txt-container p {
  margin: 0;
}

.txt-container .heading {
  font-weight: 700;
}

.txt-container .brand {
  color: #9C9C9C;
}

.txt-container .price {
  margin-top: 22px;
  font-size: 20px;
  font-weight: 700;
  color: var(--purple-400);
}

.left button {
  width: 100%;
  border-radius: 24px;
  margin-top: 24px;
}

.custom-scrollbar {
  max-height: 300px;
  /* Set a maximum height to enable scrolling */
}

.custom-scrollbar .simplebar-scrollbar:before {
  background-color: #5523DE;
  /* Color of the scrollbar thumb */
}

@media(max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  #deals {
    padding: 1rem;
  }
}