#cart {
  width: 500px;
  height: 100vh;
  margin: 1rem 0;
  padding: 2.5rem 1rem 1rem;
  background-color: #ffffffbb;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(12px);
  box-shadow: -4px 0px 30px #000;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
}

.cart-card {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.brand {
  font-size: 1rem;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.cart-card img {
  border-radius: 1rem;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}

hr {
  margin: 1rem 0;
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--grey-500);
}

#total-stats {
  border: 1px solid var(--grey-500);
  border-radius: 16px;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  justify-items: center;
}

#total-stats .heading {
  font-size: 1.25rem;
  font-weight: 700;
}

#total-stats #total-products,
#total-stats #total-price {
  text-align: center;
  font-size: 1.25rem;
}
#toCheckout{
  margin-top: 1rem;
}
@media (max-width: 768px) {
  #cart {
    width: 100%;
  }
}